@import "~bootstrap/scss/bootstrap";

.navbar-brand {
    font-size: 23px;
    cursor: pointer;
}

.nav-link {
    font-size: 20px;
}

.done {
    text-decoration: line-through;
}

.todo-filter-wrap {
    font-size: 20px;
    .form-check:not(:first-child) {
        margin-left: 30px;
    }
    .form-check-input {
        width: 17px;
        height: 17px;
        margin-top: 10px;
    }
}

.toast.show {
    opacity: 0
}

.todo-alert {
    transition: opacity 300ms;
    &-enter {
        opacity: 0;
        &-active {
            opacity: 1 !important;
        }
        &-done {
            opacity: 1 !important;
        }
    }
}